.inspire-tree li {
    &.expanded.folder:not(.loading) {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAFUlEQVQIW2M8d+HSf0YGBgYGRhALADMZBuJkyGahAAAAAElFTkSuQmCC');
        background-position: 30px 0;
        background-repeat: repeat-y;
    }

    .leaf:not(:last-child) {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAABCAYAAAAFKSQHAAAAE0lEQVQIW2M8d+HSfyMDPUZSaADXOxtxhYX1JwAAAABJRU5ErkJgggAA');
        background-position: 10px 12px;
        background-repeat: no-repeat;
    }

    .leaf:last-child {
        background-color: #fff;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAKklEQVQoU2M8d+HSfyMDPUYGEgBJimHmMo7aBAmK0dCDJgl4ioClDGJoAGUZM32Z0U8tAAAAAElFTkSuQmCC');
        background-position: 10px 0;
        background-repeat: no-repeat;
    }

    &.folder {
        background-clip: content-box;
    }
}
