.inspire-tree {
    $full-line: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYCAYAAAA7zJfaAAAAFUlEQVQIW2M8d+HSf0YGBgYGRrqyABKeKU0SV+t2AAAAAElFTkSuQmCC');
    $half-line: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMCAYAAACji9dXAAAAFUlEQVQIW2M8d+HSf0YGBgYGRpJZAJ2uFKcp4HfpAAAAAElFTkSuQmCC');
    $intersection: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAYCAYAAAAh8HdUAAAAN0lEQVQ4T2M8d+HSfyMDPUYGEgBJimHmMo7aBAmK0dCDJgl4ioClDGLo0dBDDz0SMu5o2oMFFgBXbEeI0XwYIwAAAABJRU5ErkJgggAA');
    $corner: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAKklEQVQoU2M8d+HSfyMDPUYGEgBJimHmMo7aBAmK0dCDJgl4ioClDGJoAGUZM32Z0U8tAAAAAElFTkSuQmCC');

    // Half-line below first-child toggle buttons
    > ol > .folder:first-child:not(:only-child) {
        background-image: $half-line;
        background-position: 11px 13px;
        background-repeat: no-repeat;
    }

    // Half-line above last-child toggle buttons
    .folder:last-child:not(:only-child), li .folder:last-child {
        background-image: $half-line;
        background-position: 11px 0;
        background-repeat: no-repeat;
    }

    // When adding rows is allowed
    &.editable-add > ol > .folder:last-child:not(:only-child) {
        background-image: $full-line;
        background-repeat: repeat-y;
    }

    // Full line inside middle nodes
    > ol .expanded:not(:last-child):not(:first-child), li:not(:last-child) {
        background-image: $full-line;
        background-position: 11px 0;
        background-repeat: no-repeat;
    }

    // Full line inside expanded nodes
    li.expanded:not(:last-child) > ol {
        background-image: $full-line;
        background-position: 11px 0;
        background-repeat: repeat-y;
    }

    // Half-line below expanded folder
    li.expanded.folder:not(.loading) > .title-wrap {
        background-image: $half-line;
        background-position: 31px 13px;
        background-repeat: no-repeat;
    }

    // Leaf intersection lines
    .leaf:not(:last-child):not(.detached) {
        background-image: $intersection;
        background-position: 11px 0;
        background-repeat: no-repeat;
    }

    // Last leaf corner lines
    .leaf:last-child {
        background-image: $corner;
        background-position: 11px 0;
        background-repeat: no-repeat;
    }

    .leaf.detached:last-child {
        background-image: $half-line;
        background-position: 11px 0;
        background-repeat: no-repeat;
    }

    // When adding rows is allowed
    &.editable-add > ol > .leaf:last-child {
        background-image: $intersection;
    }
}
