.inspire-tree {
    > ol {
        position: relative;
    }

    .wholerow {
        height: $tree-node-height;
        left: 0;
        // We can't use translation because IE11 doesn't render parent overflow right
        margin-top: -$tree-node-height;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .focused:not(.selected) > .wholerow {
        outline: 1px dotted #000;
    }

    .title-wrap:hover + .wholerow {
        background: $tree-row-hover-color;
    }

    .selected > .wholerow,
    .selected > .title-wrap:hover + .wholerow {
        background: $tree-row-selected-color;
    }

    .matched > .wholerow,
    .matched > .title-wrap:hover + .wholerow {
        background: $tree-row-matched-color;
    }
}
