@mixin icon-caret($color: 222) {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23#{$color}%22%20d%3D%22M6%204l20%2012-20%2012z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}

@mixin icon-file-empty($color: ccc) {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23#{$color}%22%20d%3D%22M28.681%207.159c-0.694-0.947-1.662-2.053-2.724-3.116s-2.169-2.030-3.116-2.724c-1.612-1.182-2.393-1.319-2.841-1.319h-15.5c-1.378%200-2.5%201.121-2.5%202.5v27c0%201.378%201.122%202.5%202.5%202.5h23c1.378%200%202.5-1.122%202.5-2.5v-19.5c0-0.448-0.137-1.23-1.319-2.841zM24.543%205.457c0.959%200.959%201.712%201.825%202.268%202.543h-4.811v-4.811c0.718%200.556%201.584%201.309%202.543%202.268zM28%2029.5c0%200.271-0.229%200.5-0.5%200.5h-23c-0.271%200-0.5-0.229-0.5-0.5v-27c0-0.271%200.229-0.5%200.5-0.5%200%200%2015.499-0%2015.5%200v7c0%200.552%200.448%201%201%201h7v19.5z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}

@mixin icon-folder($color: ccc) {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23#{$color}%22%20d%3D%22M14%204l4%204h14v22h-32v-26z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}

.inspire-tree {
    font: 400 12px Helvetica Nueue, Verdana, sans-serif;

    &:focus {
        outline: none;
    }

    /* ~~@@@~~~~~ Icons ~~~~~@@@~~ */
    .icon:before {
        background-position: 0 0;
        background-repeat: no-repeat;
        content: '';
        display: inline-block;
        fill: currentColor;
        height: 14px;
        width: 14px;
    }

    .icon-folder:before {
        @include icon-folder;
    }

    .icon-caret:before {
        @include icon-caret;
    }

    .icon-caret-down:before {
        @extend .icon-caret:before;
        transform: rotate(90deg);
    }

    .icon-file-empty:before {
        @include icon-file-empty;
    }

    .selected > .title-wrap {
        .icon-folder:before {
            @include icon-folder(2dadc5);
        }

        .icon-file-empty:before {
            @include icon-file-empty(2dadc5);
        }
    }

    .loading > .title-wrap .title:before {
        background: url('../img/spinner.gif') 0 0 no-repeat;
        content: '';
        height: 14px;
        width: 14px;
    }

    .focused:not(.selected) > .wholerow {
        background: #dafaff;
    }

    /* ~~@@@~~~~~ Lists ~~~~~@@@~~ */
    > ol {
        position: relative;
    }

    ol {
        list-style: none;
        margin: 0;
        padding: 0;

        ol {
            margin-left: 20px;
        }
    }

    .collapsed > ol, .hidden {
        display: none;
    }

    a {
        cursor: default;
        display: block;
        height: 25px;
        line-height: 25px;
    }

    li > .title-wrap {
        position: relative;
        z-index: 2;
    }

    /* ~~@@@~~~~~ Node Content ~~~~~@@@~~ */
    .toggle {
        height: 25px;
        left: 0;
        position: absolute;
        top: 0;
        width: 25px;

        &:before {
            left: 3px;
            position: relative;
            top: 3px;
        }
    }

    .title {
        overflow: hidden;
        padding-left: 30px;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;

        &:before {
            left: -6px;
            position: relative;
            top: -2px;
            vertical-align: middle;
        }
    }

    /* ~~@@@~~~~~ Wholerow ~~~~~@@@~~ */
    .wholerow {
        height: 25px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .selected > .wholerow {
        background: #a4eaf5;
    }

    /* ~~@@@~~~~~ Drag/Drop ~~~~~@@@~~ */
    .dragging {
        position: fixed;
        z-index: 5000;
    }

    &.drop-target {
        border: 1px solid #2dadc5;
    }
}

/* ~~@@@~~~~~ Context Menu ~~~~~@@@~~ */
.itree-menu {
    background: #ddd;
    border: 1px solid darken(#ddd, 10%);
    border-radius: 3px;
    font-family: sans-serif;
    list-style: none;
    margin: 0;
    min-width: 150px;
    padding: 0;
    position: absolute;
    z-index: 10;

    a {
        display: block;
        padding: 3px 8px;

        &:hover {
            background: #a4eaf5;
            color: #2dadc5;
        }
    }
}
