@font-face {
    font-family: 'itree';
    src: url('../fonts/itree.eot?bhulrm');
    src: url('../fonts/itree.eot?bhulrm#iefix') format('embedded-opentype'),
         url('../fonts/itree.ttf?bhulrm') format('truetype'),
         url('../fonts/itree.woff?bhulrm') format('woff'),
         url('../fonts/itree.svg?bhulrm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ~~~~~~~@ Tree Theme @~~~~~~~ */

.inspire-tree {
    font: 400 12px Helvetica Nueue, Verdana, sans-serif;

    &:focus {
        outline: none;
    }

    &.drop-target {
        border: 1px solid #2dadc5;
    }

    .icon:before {
        content: '';
        display: inline-block;
        font-family: 'itree';
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        speak: none;
        text-transform: none;
    }

    .icon-caret:before {
        content: '\e800';
    }

    .icon-caret-down:before {
        @extend .icon-caret:before;
        transform: rotate(90deg);
    }

    .icon-file-empty:before {
        content: '\e801';
    }

    .icon-folder:before {
        content: '\e802';
    }

    .icon-folder-open:before {
        content: '\e803';
    }

    .loading > div > .title:before {
        background: url('../img/spinner.gif') 0 0 no-repeat;
        content: '';
        height: 14px;
        width: 14px;
    }

    > ol {
        position: relative;
    }

    ol {
        list-style: none;
        margin: 0;
        padding: 0;

        ol {
            margin-left: 20px;
        }
    }

    .collapsed > ol, .hidden {
        display: none;
    }

    .selected > .wholerow {
        background: #a4eaf5;
    }

    a {
        cursor: default;
        display: block;
        height: 25px;
        line-height: 25px;
    }

    li > div {
        position: relative;
        z-index: 2;
    }

    .title {
        overflow: hidden;
        padding-left: 30px;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;

        &:before {
            color: #ccc;
            left: -6px;
            position: relative;
            top: -2px;
            vertical-align: middle;
        }
    }

    .selected > div > .title:before {
        color: #2dadc5;
    }

    .toggle, .toggle:before {
        font-size: 16px;
        height: 25px;
        left: 0;
        line-height: 25px;
        position: absolute;
        text-align: center;
        width: 25px;
    }

    .wholerow {
        height: 25px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .dragging {
        position: fixed;
        z-index: 5000;
    }
}

.itree-menu {
    background: #ddd;
    border: 1px solid darken(#ddd, 10%);
    border-radius: 3px;
    font-family: sans-serif;
    list-style: none;
    margin: 0;
    min-width: 150px;
    padding: 0;
    position: absolute;
    z-index: 10;

    a {
        display: block;
        padding: 3px 8px;

        &:hover {
            background: #a4eaf5;
            color: #2dadc5;
        }
    }
}
