/* ~~~~~~~@ Icons @~~~~~~~ */

@font-face {
	font-family: 'itree';
	src:url('../fonts/itree.eot?bhulrm');
	src:url('../fonts/itree.eot?bhulrm#iefix') format('embedded-opentype'),
		url('../fonts/itree.ttf?bhulrm') format('truetype'),
		url('../fonts/itree.woff?bhulrm') format('woff'),
		url('../fonts/itree.svg?bhulrm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'itree';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-caret:before {
	content: '\e800';
}
.icon-file-empty:before {
	content: '\e801';
}
.icon-folder:before {
	content: '\e802';
}
.icon-folder-open:before {
	content: '\e803';
}

/* ~~~~~~~@ Tree Theme @~~~~~~~ */

.inspire-tree {
    font: 400 12px Helvetica Nueue, Verdana, sans-serif;
}

.inspire-tree ul {
    list-style: none;
    padding-left: 20px;
}

.inspire-tree > ul {
    margin: 0;
    padding: 0;
}

.inspire-tree .collapsed, .inspire-tree .hidden {
    display: none;
}

.inspire-tree .selected > div {
    background: #a4eaf5;
	overflow: hidden;
}

.inspire-tree a {
    display: block;
	height: 25px;
    line-height: 25px;
}

.inspire-tree .toggle, .inspire-tree .toggle:before {
    height: 25px;
    line-height: 25px;
	float: left;
    font-size: 16px;
    text-align: center;
    width: 25px;
}
