/* ~~~~~~~@ Icons @~~~~~~~ */

@font-face {
    font-family: 'itree';
    src: url('../fonts/itree.eot?bhulrm');
    src: url('../fonts/itree.eot?bhulrm#iefix') format('embedded-opentype'),
         url('../fonts/itree.ttf?bhulrm') format('truetype'),
         url('../fonts/itree.woff?bhulrm') format('woff'),
         url('../fonts/itree.svg?bhulrm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
    font-family: 'itree';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}

.icon-caret:before {
    content: '\e800';
}
.icon-caret-down:before {
    @extend .icon-caret:before;
    transform: rotate(90deg);
}
.icon-file-empty:before {
    content: '\e801';
}
.icon-folder:before {
    content: '\e802';
}
.icon-folder-open:before {
    content: '\e803';
}

/* ~~~~~~~@ Tree Theme @~~~~~~~ */

.inspire-tree {
    font: 400 12px Helvetica Nueue, Verdana, sans-serif;

    ol {
        list-style: none;
        margin: 0;
        padding: 0;

        ol {
            margin-left: 20px;
        }
    }

    .collapsed > ol, .hidden {
        display: none;
    }

    .selected > div {
        background: #a4eaf5;
        overflow: hidden;
    }

    a {
        display: block;
        height: 25px;
        line-height: 25px;
    }

    li > div {
        position: relative;
    }

    .title {
        padding-left: 30px;

        &:before {
            color: #ccc;
            left: -6px;
            position: relative;
        }
    }

    .toggle, .toggle:before {
        font-size: 16px;
        height: 25px;
        left: 0;
        line-height: 25px;
        position: absolute;
        text-align: center;
        width: 25px;
    }
}
